[user]
  name = alterphp
  email = pc.bertineau@alterphp.com
[github]
  user = alterphp
  # token = xxx
[core]
  editor = vi
  whitespace = trailing-space,space-before-tab
  excludesfile = /home/pece/.gitignore_global
[alias]
  br = branch
  cm = commit
  co = checkout
  d = diff
  st = status
  plr = pull --rebase
  up = pull --rebase --autostash
  fap = fetch --all --prune
[pull]
  default = current
[push]
  default = current
[color]
  ui = true
[color "status"]
  added = green
  changed = yellow
  untracked = red
[mergetool]
  keepBackup = false
  keepTemporaries = false
  prompt = false
[branch]
  autosetuprebase = always
